*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 77px
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fff;
    width: 100vw;
}

header {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #3d3b38;
}

img.logo{
    height: 4rem;
    padding: .5rem;
}
section.home{
    background-color: rebeccapurple;
    height:calc(100vh - 77px);
    padding-top: -77px; /* Altezza del tuo header */
    margin-top: 77px; /* Negativo per correggere lo spazio extra */
}

section.strongPoint{
    background-color: goldenrod;
    height:calc(100vh - 77px);
}


section.recensioni{
    background-color: green;
    height:calc(100vh - 77px);
}

section.paperelle{
    background-color: fuchsia;
    height:calc(100vh - 77px);
}


section.domande{
    background-color: gray;
    height:calc(100vh - 77px);
}


section.newsletter{
    background-color: rebeccapurple;
    height:calc(100vh - 77px);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: .5rem;
    filter: drop-shadow(0 20px 500px #3d3b38);
}

#mySidenav img.logo {
    height: 3.5rem;

}

.closebtn{
    margin-top: .5rem;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
    color: #3d3b38;

}

.sidenav a:hover {
    color: #2E45CC;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #3d3b38;

}

#main {
    transition: margin-right .5s;
    padding: 16px;
}



@media screen and (max-height: 450px) {
    
}