*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 80px
}

body{
    overflow-x: hidden;
}
nav{
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
}

header {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #3d3b38;
}

img.logo{
    height: 4rem;
    padding: .5rem;
}

main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.24;
    color: #3d3b38;
}



#banner{
    background-image: url(./asset/banner-bg.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    
}

h1{ 
    font-weight: 600;
}

h2{
    font-weight: 600;
}

h3{
    font-weight: 600;
}

.btn{
    background-color: transparent;
    padding: .8rem;
    border-radius: 0;
    border: solid 1.5px #3d3b38;
}

.btn:hover{
    background-color: #3d3b38;
    transition-duration: 0.4s;
    color: white;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: .5rem;
    filter: drop-shadow(0 20px 500px #3d3b38);
}

#mySidenav img.logo {
    height: 3.5rem;

}

.closebtn{
    margin-top: .5rem;
}

ul{
    padding: 0;
}

ul,
li{
list-style: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
    color: #3d3b38;

}

.sidenav a:hover {
    color: #2E45CC;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #3d3b38;

}

#main {
    transition: margin-right .5s;
    padding: 16px;
}


.grayBg {
    background-color: #f8f8f8;
}

.green{
    color:#04DF6C;
}

svg.icon{
    color: #2E45CC;
    height: 30px;
    width: 30px;
}

.circle{
    border: solid .5px rgb(156, 156, 156);
    border-radius: 50%;
    margin: .5rem;
}
input {
    border: none;
    outline: none;
    height: 30px;
}

swiper-container {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.recensioni{
    flex-direction: column;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
}

#newsletter{
    background-color: #f8f8f8;
}
button.accordion-button:focus{
    box-shadow: inherit;
}

@media screen and (max-height: 450px) {
    
}